@import 'bootstrap-sass';
// @import 'pages-compiled';
@import '_pages/pages';

@import '_libs/breakpoints';
@import '_libs/easing';
@import '_libs/social';
@import '_libs/fonts';
@import '_libs/md-colors';

body {
  background: $color-master-dark;
}

// Links
a {
  color: $color-primary;
  text-shadow: none !important;
  transition: all .3s ease;

  .text-white & {
    color: $color-master-lighter;
  }
}

a:focus,
a:hover,
a:active {
  color: $color-primary-light;

  .text-white & {
    color: $color-master-lightest;
  }
}

p {
  line-height: 1.8;
}

.jumbotron h1,
.hero h1 {
  display: inline-block !important;
  font-size: 80px;
  font-weight: 200;
  letter-spacing: -.02em;
  line-height: 1;
  transition: all .5s;

  .lead {
    display: block;
    margin-left: .1em;
    margin-bottom: -.3em;
    // font-family: $font-gotham;
    font-size: .4em;
    // font-weight: 100;
    // text-transform: uppercase;
    // letter-spacing: -.03em;
  }

  b {
    display: inline-block;
    font-family: $font-gotham;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: inherit;
    margin-left: .1em;
    padding: .25em .35em .15em;
    border: 3px solid #fff;
  }

  @media (max-width: 991px) {
    font-size: 65px;
    // padding: 0 1em;
  }

  @media (max-width: 767px) {
    font-size: 50px;
    // padding: 0;
  }
}

.hero {
  height: 50vh;
  min-height: 500px;

  @media (max-width: 479px) {
    height: 100vh;
    min-height: 100vh;
  }
}

.lyric-box {
  position: relative;
  padding: 150px 30px 30px;
  overflow: hidden;

  h3 {
    line-height: 1.15;
    letter-spacing: -.05em;
  }

  &:hover {
    .bg-overlay {
      opacity: .5 !important;
    }
  }
}

[data-pages-bg-image] {
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 200px rgba(#000, 1);
}

[data-fitvids] {
  position: relative;

  .fluid-width-video-wrapper {
    z-index: 100;
  }

  .video-overlay {
    z-index: 200;
  }
}

// header
// =================
// .header {
//   &.transparent-light {
//     .menu i[class^='pg-'] {
//       transition: all .3s ease;
//     }
//     &.alternate .menu i[class^='pg-'] {
//       color: #000;
//     }
//   }
//
//   .logo-wrapper {
//     a {
//       display: block;
//       position: relative;
//       height: 110px;
//       width: 250px;
//       text-align: center;
//       transition: all .4s ease !important;
//
//       .logo, .alt {
//         position: absolute;
//         display: inline-block;
//         top: 50%;
//         left: 50%;
//         transform: translate3d(-50%, -50%, 0);
//         transition: all .4s ease !important;
//       }
//       .alt {
//         opacity: 0;
//       }
//
//       @include breakpoint(xs) {
//         height: 70px;
//       }
//     }
//   }
//
//   &.minimized {
//     .logo-wrapper a {
//       height: 60px;
//     }
//   }
//
//   &.minimized, &.alternate {
//     .logo-wrapper a {
//       .logo {
//         opacity: 0;
//       }
//       .alt {
//         opacity: 1;
//       }
//     }
//   }
// }
