<!-- START FOOTER -->
<section class="p-b-30 p-t-40 bg-master-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/logo/hh-white.svg" class="logo" alt="" style="height: 32px">
        <div class="m-t-10 ">
          <ul class="no-style fs-13 no-padding">
            <li class="inline no-padding"><a href="/" class="link text-white p-r-10 b-r b-transparent-white">Home</a></li>
            <!-- <li class="inline no-padding"><a href="/apparels" class="hint-text text-white p-l-10 p-r-10 b-r b-transparent-white">Apparels</a></li>
            <li class="inline no-padding"><a href="/music" class="hint-text text-white p-l-10 p-r-10 b-r b-transparent-white">Music</a></li>
            <li class="inline no-padding"><a href="/about" class="hint-text text-white p-l-10 p-r-10 b-r b-transparent-white">About</a></li> -->
            <li class="inline no-padding"><a href="http://arteffects.international" target="_blank" class="link text-white p-l-5 p-r-10 xs-no-padding xs-m-t-10">Arteffects International</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 text-right sm-text-left">
        <div class="social-buttons">
          <%= partial("elements/social",
            :locals => {
              :type       => "si-borderless si-small",
              :facebook   => "hafizhamidun",
              :twitter    => "hafizhamidun",
              :instagram  => "hafizhamidun",
              :youtube    => "hafizhamidun",
              :itunes     => "https://itunes.apple.com/my/artist/hafiz-hamidun/id525310678",
              :spotify    => "https://open.spotify.com/artist/6DgMaXR0c070BQWs9VyuNB",
              :soundcloud => "hafizhamidun",
              :email      => "newmedia@hafizhamidun.com"
            }) %>
        </div>
        <p class="fs-13 muted text-white m-t-0">Copyright &copy; 2015 Hafiz Hamidun. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->
