<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-height" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/hero/hh1.jpg" data-bg-overlay="black" data-overlay-opacity="0.3" draggable="false" class="background bg-position-center"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h2 class="light text-white" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                      Learn about my <span class="font-montserrat text-uppercase" data-pages-init="text-rotate" data-speed="2000" data-animation="fade">Music, Apparel, Work</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-white" data-pages-header="alternate">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div data-pages-bg-image="assets/images/hero/hh2-bw.jpg" draggable="false" class="background bg-position-center"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container text-center">
                    <h2 class="light text-black" data-pages-animation="standard" data-delay="1100" data-type="transition.slideDownIn">
                      Crafted with <span class="font-montserrat text-uppercase">Perfection</span> & detailing
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

      </div>

      <!-- BEGIN ANIMATED MOUSE -->
      <div class="mouse-wrapper">
        <div class="mouse">
          <div class="mouse-scroll"></div>
        </div>
      </div>

      <!-- Add Navigation -->
      <div class="swiper-navigation swiper-white-solid swiper-button-prev auto-reveal"></div>
      <div class="swiper-navigation swiper-white-solid swiper-button-next auto-reveal"></div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
