<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN HERO WITH PARALLAX -->
<section class="hero"
  data-pages="parallax"
  data-pages-bg-image="/assets/images/hero/about.jpg"
  data-bg-overlay-class="bg-danger-darker"
  data-overlay-opacity="0.7">

  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-center">
      <div class="col-sm-12">
        <h1 class="inner text-white">
          Follow the
          <b>journey.</b>
        </h1>
      </div>
    </div>
  </div>

</section>
<!-- END HERO WITH PARALLAX -->

<!-- BEGIN CONTENT SECTION -->
<section class="p-b-70 p-t-70 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h5 class="block-title hint-text no-margin">Finding Ways</h5>
        <p class="m-t-30">
          There’s an African proverb that says, "If you want to go fast, go alone. If you want to go far, go together." &mdash;
          But he want to go fast and far.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <p class="m-t-70 m-b-70" data-orphan>
          His latest album, <span class="font-gotham all-caps fw-700" style="letter-spacing:-0.05em">I Love Rasulullah</span> which hit record-breaking sales of 10,000 units within a month garnered a platinum award a few weeks ago. The first nasheed singer in the country to also have a <a href="https://youtube.com/hafizhamidunvevo" target="_blank">Vevo Youtube</a> account, Hafiz has opened doors of Arteffects International; his brainchild company to Egypt, Germany and soon to come, to the United States to cater to the east and west markets.</p>
      </div>

      <div class="col-sm-5">
        <img src="/assets/images/music/hh-ilr.jpg" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<%= partial "footer" %>
