<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN HERO WITH PARALLAX -->
<section class="vh-50" data-pages="parallax" data-pages-bg-image="assets/images/gallery_hero_1.jpg">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-center">
      <div class="col-sm-12">
        <h1 class="text-white inner">
          Get to <b>know me</b> more.
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- END HERO WITH PARALLAX -->

<!-- BEGIN CONTENT SECTION -->
<section class="p-b-70 p-t-70 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h5 class="block-title hint-text no-margin">Finding Ways</h5>
        <h5>
          There’s an African proverb that says, "if you want to go fast, go alone. If you want to go far, go together." &mdash;
          But I want to go fast and far.</h5>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<section class="p-b-70 p-t-70 h-500 bg-position-center" data-pages-bg-image="assets/images/hero/about-footer.jpg"></section>

<%= partial "footer" %>
