<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN HERO WITH PARALLAX -->
<section class="hero"
  data-pages="parallax"
  data-pages-bg-image="/assets/images/hero/phone.jpg"
  data-bg-overlay-class="bg-warning-darker"
  data-overlay-opacity="0.5">

  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-center">
      <div class="col-sm-12">
        <h1 class="text-white inner">
          Our collaboration
          <b>starts&nbsp;here.</b>
        </h1>
      </div>
    </div>
  </div>

</section>
<!-- END HERO WITH PARALLAX -->

<!-- START CONTACT SECTION -->
<section class="p-t-50 p-b-100 sm-p-b-30 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="p-r-40 sm-p-r-0">
          <form id="contact-form" class="m-t-15">
            <div class="">
              <div class="form-group form-group-default required">
                <label>Name</label>
                <input class="form-control" placeholder="What is your name?" type="text" name="name" required>
              </div>
              <div class="form-group form-group-default required">
                <label>Email</label>
                <input class="form-control" placeholder="We promise we won't spam you." type="email" name="_replyto" required>
              </div>
              <div class="form-group form-group-default required">
                <label>Message</label>
                <textarea class="form-control" placeholder="Opinions? Suggestions? Write your thoughts here." name="message" style="height:100px" required></textarea>
              </div>
            </div>
            <div class="m-t-10 m-b-10 clearfix">
              <p class="pull-left small hint-text no-margin col-middle" style="line-height:35px">
                I hereby certify that the information above is true and accurate.
              </p>
              <input type="text" name="_gotcha" class="hidden">
              <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>
        <div class="p-l-40 sm-p-l-0 sm-p-t-10 sm-p-b-20">
          <h3>
            Hafiz Hamidun is exclusively represented by <a href="//arteffects.international" target="_blank">Arteffects International</a>.
          </h3>
          <p class="m-t-20">
            To reach Hafiz Hamidun regarding any business ventures, music productions, performances, or just about anything, feel free to use the contact form on the left, call/leave a message at the numbers below, or drop a line in the email.
          </p>
          <h5 class="block-title hint-text m-t-40 m-b-0">
            Public Inquiries &amp; Communications
          </h5>
          <div class="row">
            <div class="col-sm-6">
              <p class="p-t-25 p-b-10 fs-12 font-montserrat bold all-caps no-margin hint-text">
                Hotline
              </p>
              <p class="hint-text no-margin fs-14">
                +6012 225 1297<br>
                +603 7733 1297
              </p>
            </div>
            <div class="col-sm-6">
              <p class="p-t-25 p-b-10 fs-12 font-montserrat bold all-caps no-margin hint-text">
                Email
              </p>
              <p class="hint-text no-margin fs-14">
                newmedia@hafizhamidun.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT SECION -->

<%= partial "footer" %>
