<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<section class="vh-50 bg-position-center" data-pages-bg-image="assets/images/hero/contact.jpg" data-bg-overlay="#272b38" data-overlay-opacity="0.6" data-pages="parallax">
    <div class="container-xs-height full-height">
      <div class="col-xs-height col-middle text-center">
        <div class="col-sm-12">
          <h1 class="text-white inner font-raleway">
            I'd love to hear <b>from you.</b>
          </h1>
        </div>
      </div>
    </div>
</section>

<!-- START CONTACT SECTION -->
<section class="p-t-50 p-b-100 sm-p-b-30 sm-m-b-30 bg-master-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="p-r-40 sm-p-r-0">
          <form class="m-t-15">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label>Name</label>
                  <input class="form-control" type="text">
                </div>
              </div>
            </div>
            <div class="form-group form-group-default">
              <label>Email</label>
              <input class="form-control" placeholder="This can be changed later" type="email">
            </div>
            <div class="form-group form-group-default">
              <label>Message</label>
              <textarea class="form-control" placeholder="Type the message you wish to send" style="height:100px"></textarea>
            </div>
            <div class="sm-p-t-10 clearfix">
              <p class="pull-left small hint-text m-t-5">
                I hereby certify that the information above is true and accurate.
              </p>
              <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>
        <div class="p-l-40 sm-p-l-0 sm-p-t-10">
          <h3>
            Hafiz Hamidun is exclusively represented by Arteffects International.
          </h3>
          <p>
            To contact me regarding any business ventures, music productions, performances, or just about anything, feel free to contact me.
          </p>
          <br>
          <h5 class="block-title hint-text m-b-0">
                Hafiz Hamidun's Public Inquiries &amp; Communications
            </h5>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <p class="fs-12 font-montserrat bold all-caps no-margin hint-text">
                Hotline
              </p>
              <p class="hint-text no-margin fs-14">
                +6012 225 1297<br>
                +603 7733 1297
              </p>
            </div>
            <div class="col-sm-6">
              <p class="fs-12 font-montserrat bold all-caps no-margin hint-text">
                Email
              </p>
              <p class="hint-text no-margin fs-14">
                newmedia@hafizhamidun.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT SECION -->

<%= partial "footer" %>
