<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-vh" data-pages="parallax">
  <div class="inner full-vh">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <div class="background bg-position-center hidden-xs hidden-sm"
                data-pages-bg-image="/assets/images/hero/hh1.jpg"
                data-bg-overlay="black"
                data-overlay-opacity="0.2"
                draggable="false" ></div>
              <div class="background bg-position-left visible-xs visible-sm"
                data-pages-bg-image="/assets/images/hero/hh3.jpg"
                data-bg-overlay="black"
                data-overlay-opacity="0.2"
                draggable="false" ></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle">
                  <div class="container text-center">
                    <h1 class="text-white text-left"
                      data-pages-animation="standard"
                      data-delay="1100"
                      data-type="transition.slideDownIn">

                      Discover my
                      <b data-pages-init="text-rotate" data-speed="4000" data-animation="flipUp">Insight., Music., Apparel., Work.</b>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

        <!-- BEGIN SLIDE -->
        <!-- data-pages-header="alternate" -->
        <div class="swiper-slide fit bg-black">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <!-- <div class="background-wrapper" data-swiper-parallax="20%">
              <div data-pages-bg-image="/assets/images/hero/sky.jpg"
                data-bg-overlay-class="bg-black"
                data-overlay-opacity="0.1"
                draggable="false" class="background bg-position-center"></div>
            </div> -->
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle">
                  <div class="">

                    <!-- VIDEO -->
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/HafizHamidun/videos/vb.27365242512/10153104753712513/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/HafizHamidun/videos/10153104753712513/"><a href="https://www.facebook.com/HafizHamidun/videos/10153104753712513/">Hafiz Hamidun - Penyelamat (Official Music Video)</a><p>Selawat dan salam ke atas Rasulullah SAW.Terimalah video eksklusif Penyelamat dari album saya &#039;I Love Rasulullah&#039;Terbitan Arteffects InternationalEdaran bersama Sony Music Malaysia#Penyelamat</p>Posted by <a href="https://www.facebook.com/HafizHamidun">Hafiz Hamidun</a> on Sunday, September 20, 2015</blockquote></div></div>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-L4NL9JcAeo?wmode=opaque&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

      </div>

      <!-- BEGIN ANIMATED MOUSE -->
      <div class="mouse-wrapper">
        <div class="mouse">
          <div class="mouse-scroll"></div>
        </div>
      </div>

      <!-- Add Navigation -->
      <div class="swiper-navigation swiper-rounded swiper-white-solid swiper-button-prev auto-reveal"></div>
      <div class="swiper-navigation swiper-rounded swiper-white-solid swiper-button-next auto-reveal"></div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->

<!-- BEGIN CONTENT SECTION -->
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 p-t-100 p-b-100 xs-padding-50">
        <span class="label all-caps">Meet Hafiz Hamidun</span>

        <h2 class="m-t-10" data-orphan>Selamat datang. Welcome. Bienvenue. Willkommen.</h2>

        <h4 class="hint-text m-t-20 m-b-20" data-orphan>This is the home of Hafiz Hamidun in the world wide web; all information regarding my albums, singles, shows, concerts and my fashion line can be found here.</h4>

        <div>
          <!-- <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:6DgMaXR0c070BQWs9VyuNB&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe> -->

          <!-- <iframe src="https://embed.spotify.com/?uri=spotify:album:38e2vTosGd93kB7wbOdQis" width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->

          <!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/193808128&amp;color=9f92c7&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-60 p-b-60 bg-white"
  data-pages-bg-image="/assets/images/hero/hh4.jpg"
  data-bg-overlay-class="bg-black"
  data-overlay-opacity="0.4">

  <div class="container blue-box">

    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h2 class="text-white lhem-9" data-orphan>
            Duhai Rasulullah engkaulah Imam buat kami semua.
            Hanya syafaatmu yang kami harapkan; semoga bertemu di hari perhitungan.</h2>

          <h4 class="text-white" data-orphan>
            O Rasulullah thou art an Imam for us all.
            Our only hope is your syafaat; we hope to see you in the day of reckoning.</h4>

          <p class="m-t-40 fs-14">
            <b>Penyelamat</b> &mdash; Written by Hafiz&nbsp;Hamidun</p>
        </div>

        <div class="social-count">
          <div class="col-sm-4 no-padding">
            <a href="https://www.facebook.com/hafizhamidun" target="_blank" class="c-facebook">
              <div class="progress-circle-indeterminate progress-circle-white"></div>
              <span class="wrapper">
                <i class="icon-facebook"></i>
                <h3 class="count"></h3>
                <p>likes</p>
              </span>
            </a>
          </div>
          <div class="col-sm-4 no-padding">
            <a href="https://twitter.com/hafizhamidun" target="_blank" class="c-twitter">
              <div class="progress-circle-indeterminate progress-circle-white"></div>
              <span class="wrapper">
                <i class="icon-twitter"></i>
                <h3 class="count"></h3>
                <p>followers</p>
              </span>
            </a>
          </div>
          <div class="col-sm-4 no-padding">
            <a href="https://instagram.com/hafizhamidun" target="_blank" class="c-instagram">
              <div class="progress-circle-indeterminate progress-circle-white"></div>
              <span class="wrapper">
                <i class="icon-instagram"></i>
                <h3 class="count"></h3>
                <p>followers</p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- END CONTENT SECTION -->

<!-- BEGIN BANNER FOOTER-->
<section class="p-b-50 p-t-50 bg-master-darker text-white">
  <div class="container p-b-50 p-t-50">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-middle">
        <div class="text-center">
          <h1 class="text-primary-light"><b>Sound is divine.</b> Music is man-made.</h1>
          <p class="m-b-30 text-master-lighter">That's how art connects to our spirituality.</p>
          <a class="btn btn-lg btn-primary btn-cons btn-rounded font-montserrat all-caps" href="/music">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END  BANNER FOOTER SMALL-->
