<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<%= partial "jumbotron" %>

<section class="p-t-65 p-b-60 bg-master">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding text-white">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="sm-p-l-20 xs-no-padding">
            <blockquote class="font-raleway">
              <p class="fs-20">I love divine music. Buddhist, Christian, Hindu, Jewish, I listen to it all. I love it all. As a Muslim, I sing in Arabic and in my own language and compose my own material. It’s my interpretation of the religion.</p>

              <p class="m-t-30 fs-12 hint-text">
                <b>HAFIZ HAMIDUN</b>
                - Singer, Composer, Music Producer and Founder of Arteffects International</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BEGIN CONTENT SECTION -->
<section class="p-t-60 p-b-60 bg-white">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-sm-6 b-r b-grey xs-b-b b-grey">
          <h5 class="block-title hint-text no-margin">Explore</h5>
          <h2 class="m-t-5">Different ways to Organize your Content.</h2>
          <div class="col-sm-10 no-padding">
            <h4 class="hint-text">We planned out every part of the design, you just have to think of the content</h4>
            <p class="m-t-30 fs-12 font-lato hint-text col-sm-10 no-padding">Crafted specially, giving attention to detail, this is a celebration of creativity with guaranteed smoothness in UI/UX</p>
          </div>
        </div>
        <div class="col-sm-6 xs-p-t-30">
          <div class="p-l-30 xs-no-padding">
            <div class="col-sm-6 no-padding m-b-20 m-t-20">
              <p class="m-t-30 fs-12 font-lato hint-text">Crafted specially, giving attention to detail, this is a celebration of creativity with guaranteed smoothness in UI/UX</p>
            </div>
            <div class="clearfix"></div>
            <p>Our motivation "Perfection simplified" helps to craft meaningful experiences for the people around us, This mission inspires us to jump out of bed each day and guides every aspect of what we do.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<!-- BEGIN CONTENT SECTION -->
<section class="p-b-85 p-t-75 p-b-65 p-t-55 bg-master-lightest">
  <div class="container">
    <div class="md-p-l-20 xs-no-padding clearfix">
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <img alt="" class="m-b-20" src="assets/images/Parachute.svg">
          <h6 class="block-title p-b-5">Launch Design
            <i class="pg-arrow_right m-l-10"></i>
          </h6>
          <p class="m-b-30">Awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes.</p>
          <p class="hint-text font-lato small-text col-sm-9 no-padding">Icon Fonts, Vector SVG's, pages 14x14px vector icons.</p>
        </div>
        <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <img alt="" class="m-b-20" src="assets/images/Prizemedalion.svg">
          <h6 class="block-title p-b-5">Award Wining
            <i class="pg-arrow_right m-l-10"></i>
          </h6>
          <p class="m-b-30">Quick chat helps you to Keep in touch with your friends and colleagues while working. It has a unique responsive design.</p>
          <p class="hint-text font-lato small-text col-sm-9 no-padding">Limitless possibilities, Highly customizable, Great UI & UX</p>
        </div>
        <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="p-r-40 md-pr-30">
          <img alt="" class="m-b-20" src="assets/images/Umbrella.svg">
          <h6 class="block-title p-b-5">Shop ready
            <i class="pg-arrow_right m-l-10"></i>
          </h6>
          <p class="m-b-30">This is a very young collection of charts, with the goal of keeping these components very customizable.</p>
          <p class="hint-text font-lato small-text col-sm-9 no-padding">Highly customizable NVD3, rickshaw, Spark Lines, D3.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<section class="text-center bg-white" data-fitvids>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-L4NL9JcAeo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</section>

<section class="p-b-65 p-t-60 bg-master-darkest">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h5 class="block-title text-white no-margin">Menu Clipping
        </h5>
        <h1 class="text-white col-sm-12 m-t-5 m-b-30">Celebrate Motion paralax scroll.</h1>
      </div>
      <div class="row m-t-30">
        <div class="col-sm-4">
          <div class="progress progress-small transparent-white m-t-15">
            <div class="progress-bar progress-bar-white" data-pages-animate="progressbar" data-percentage="79%"></div>
          </div>
          <h3 class="no-margin text-white">
            <span data-animation-duration="800" data-pages-animate="number" data-value="200">0</span>%
          </h3>
          <p class="font-lato hint-text fs-12 text-white">
            Smoother
          </p>
          <p></p>
        </div>
        <div class="col-sm-4">
          <div class="progress progress-small transparent-white m-t-15">
            <div class="progress-bar progress-bar-white" data-pages-animate="progressbar" data-percentage="79%"></div>
          </div>
          <h3 class=" no-margin text-white">
            <span data-animation-duration="800" data-pages-animate="number" data-value="200">0</span>%
          </h3>
          <p class="font-lato hint-text fs-12 text-white">
            Lighter
          </p>
          <p></p>
        </div>
        <div class="col-sm-4">
          <div class="progress progress-small transparent-white m-t-15">
            <div class="progress-bar progress-bar-white" data-pages-animate="progressbar" data-percentage="79%"></div>
          </div>
          <h3 class=" no-margin text-white">
            <span data-animation-duration="800" data-pages-animate="number" data-value="200">0</span>ma
          </h3>
          <p class="font-lato hint-text fs-12 text-white">
            Micro Awesomness
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BEGIN END SECTION -->

<!-- BEGIN BANNER FOOTER-->
<section class="p-b-50 p-t-50 bg-white">
  <div class="container p-b-50 p-t-50">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-middle">
        <div class="text-center">
          <h1 class="m-b-0">Sound is divine. Music is man-made.</h1>
          <p class="m-b-30">That's how art connects to our spirituality.</p>
          <a class="btn btn-lg btn-primary btn-cons btn-rounded" href="/music">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END  BANNER FOOTER SMALL-->

<%= partial "footer" %>
