<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-height" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-info">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <div class="background bg-position-center hidden-xs"
                data-pages-bg-image="assets/images/hero/hh1.jpg"
                data-bg-overlay="black"
                data-overlay-opacity="0.2"
                draggable="false" ></div>
              <div class="background bg-position-center visible-xs"
                data-pages-bg-image="assets/images/hero/hh3.jpg"
                data-bg-overlay="black"
                data-overlay-opacity="0.2"
                draggable="false" ></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle">
                  <div class="container text-center">
                    <h1 class="light text-white font-gotham text-uppercase"
                      data-pages-animation="standard"
                      data-delay="1100"
                      data-type="transition.slideDownIn">

                      Know the <span class="fw-900 text-uppercase" data-pages-init="text-rotate" data-speed="4000" data-animation="flipUp">Man, Music, Apparel, Work</span>

                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit bg-white" data-pages-header="alternate">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="20%">
              <div data-pages-bg-image="assets/images/hero/hh2-bw.jpg" draggable="false" class="background bg-position-center"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle">
                  <div class="container text-center">
                    <h1 class="light text-black font-gotham text-uppercase"
                      data-pages-animation="standard"
                      data-delay="1100"
                      data-type="transition.slideDownIn">

                      Follow the <span class="fw-900" data-pages-init="text-rotate" data-speed="4000" data-animation="flipUp">Journey, Mind, Path</span>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->

      </div>

      <!-- BEGIN ANIMATED MOUSE -->
      <div class="mouse-wrapper">
        <div class="mouse">
          <div class="mouse-scroll"></div>
        </div>
      </div>

      <!-- Add Navigation -->
      <div class="swiper-navigation swiper-white-solid swiper-button-prev auto-reveal"></div>
      <div class="swiper-navigation swiper-white-solid swiper-button-next auto-reveal"></div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->

<!-- BEGIN CONTENT SECTION -->
<section class="p-t-60 p-b-60 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h5 class="block-title hint-text no-margin">Meet Hafiz</h5>
        <h2 class="m-t-5">Different ways to Organize your Content.</h2>

        <h4 class="hint-text">We planned out every part of the design, you just have to think of the content</h4>

        <div class="col-sm-6 m-b-20">
          <p class="fs-12 hint-text">Crafted specially, giving attention to detail, this is a celebration of creativity with guaranteed smoothness in UI/UX</p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="font-raleway text-white home-lyric bg-position-center text-right"
          data-pages-bg-image="assets/images/hero/hh3.jpg"
          data-bg-overlay-class="bg-master-dark"
          data-overlay-opacity="0.5">

          <h3 class="fs-20 text-white font-gotham">
            Duhai Rasulullah engkaulah Imam buat kami&nbsp;semua.</h3>

          <h3 class="fs-20 text-white font-gotham">
            Hanya syafaatmu, yang kami&nbsp;harapkan.</h3>

          <h3 class="fs-20 text-white font-gotham">
            Semoga bertemu di hari&nbsp;perhitungan.</h3>

          <p class="m-t-10 fs-14">
            <b>Penyelamat</b>&mdash;Written by Hafiz Hamidun</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTENT SECTION -->

<!-- VIDEO -->
<section class="text-center bg-white" data-fitvids>
  <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/HafizHamidun/videos/vb.27365242512/10153104753712513/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/HafizHamidun/videos/10153104753712513/"><a href="https://www.facebook.com/HafizHamidun/videos/10153104753712513/">Hafiz Hamidun - Penyelamat (Official Music Video)</a><p>Selawat dan salam ke atas Rasulullah SAW.Terimalah video eksklusif Penyelamat dari album saya &#039;I Love Rasulullah&#039;Terbitan Arteffects InternationalEdaran bersama Sony Music Malaysia#Penyelamat</p>Posted by <a href="https://www.facebook.com/HafizHamidun">Hafiz Hamidun</a> on Sunday, September 20, 2015</blockquote></div></div>
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-L4NL9JcAeo?wmode=opaque&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
</section>

<!-- BEGIN BANNER FOOTER-->
<section class="p-b-50 p-t-50 bg-white">
  <div class="container p-b-50 p-t-50">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-middle">
        <div class="text-center">
          <h1 class="m-b-0">Sound is divine. Music is man-made.</h1>
          <p class="m-b-30">That's how art connects to our spirituality.</p>
          <a class="btn btn-lg btn-primary btn-cons btn-rounded font-montserrat all-caps" href="/music">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END  BANNER FOOTER SMALL-->

<%= partial "footer" %>
