---
title: "Music"
---

<%= partial "header", :locals => {
  :headerclass => "bg-header transparent-light",
  :headerextras => 'data-pages-header="autoresize" data-pages-resize-class="light"'
} %>

<!-- BEGIN HERO WITH PARALLAX -->
<section class="hero"
  data-pages="parallax"
  data-bg-overlay-class="bg-black"
  data-overlay-opacity="0.5"
  data-pages-bg-image="assets/images/hero/love.jpg">

  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-center">
      <div class="col-sm-12">
        <h1 class="text-white inner">
          Discover the
          <b>music.</b>
        </h1>
      </div>
    </div>
  </div>

</section>
<!-- END HERO WITH PARALLAX -->

<!-- BEGIN PORTFOLIO SECTION -->
<!-- <section class="bg-white">
  <div class="container">
    <div class="m-b-65 m-t-70">
      <h1 class="text-center">Showcase.</h1>
    </div>
  </div>
</section> -->

<section class="bg-white">
  <div class="container-fluid no-padding">
    <div class="gallery">
      <div class="grid-sizer"></div>

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="2">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">Mikraj Cinta</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">May 2015</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Single by Dato' Siti Nurhaliza</p>
        </div>
        <div class="ar-2-1">
          <div class="bg-position-top" data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/music/siti-mc.jpg"></div>
        </div>
      </div>
      <!-- END GALLERY ITEM -->

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="1">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">I <i class="fa fa-heart"></i> Rasulullah</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">January 2015</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Studio album, Zikr &amp; Salawat</p>
        </div>
        <div class="ar-1-2">
          <div data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/music/hh-ilr.jpg"  style="background-position: 20% center;"></div>
        </div>
      </div>
      <!-- END GALLERY ITEM -->

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="1">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">Zikir Terapi Diri 1</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">Nov 2011</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Studio album, Zikr, Therapy</p>
        </div>
        <div class="ar-1-1">
          <div class="bg-position-top" data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/music/hh-ztd1.jpg"></div>
        </div>
      </div>
      <!-- END GALLERY ITEM -->

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="1">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">IGNITEAT</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">03 Nov 2015</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Logo design, Web Design and Branding</p>
        </div>
        <div class="ar-1-1">
      <!-- START PREVIEW -->
          <div data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/gallery_4.jpg"></div>
      <!-- END PREVIEW -->
        </div>
      </div>
      <!-- END GALLERY ITEM -->

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="1">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">IGNITEAT</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">03 Nov 2015</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Logo design, Web Design and Branding</p>
        </div>
        <div class="ar-1-1">
      <!-- START PREVIEW -->
          <div data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/gallery_3.jpg"></div>
      <!-- END PREVIEW -->
        </div>
      </div>
      <!-- END GALLERY ITEM -->

      <!-- START GALLERY ITEM -->
      <div class="grid hover-zoom" data-width="1">
        <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title fs-18 text-white no-margin">IGNITEAT</h5>
          <h6 class="block-title fs-14 text-white hint-text m-t-5 m-b-0">03 Nov 2015</h6>
          <p class="fs-12 text-white hint-text m-t-5 m-b-0">Logo design, Web Design and Branding</p>
        </div>
        <div class="ar-2-1">
          <div data-bg-overlay="black" data-overlay-opacity="0.4" data-pages-bg-image="assets/images/gallery_5.jpg"></div>
        </div>
      </div>
      <!-- END GALLERY ITEM -->

    </div>
  </div>
</section>
<!-- END PORTFOLIO SECTION -->

<%= partial "footer" %>
